/* line 1, ../scss/global.scss */
html {
  font-size: 62.5%;
}

/* line 1, ../scss/_header.scss */
.header {
  box-shadow: 0 1px 5px #000;
  background: url(../img/bg-header.png);
  height: 55px;
  position: relative;
}
/* line 7, ../scss/_header.scss */
.header .wrapper {
  text-align: center;
}
/* line 10, ../scss/_header.scss */
.header .wrapper img {
  margin-top: 10px;
}
/* line 14, ../scss/_header.scss */
.header .wrapper ul {
  float: right;
}
/* line 18, ../scss/_header.scss */
.header .wrapper li {
  display: inline-block;
}
/* line 21, ../scss/_header.scss */
.header .wrapper li .facebook {
  background: url(../img/sprite-1.png) 0 -27px no-repeat;
  width: 32px;
  height: 28px;
  display: block;
}
/* line 27, ../scss/_header.scss */
.header .wrapper li .facebook:hover {
  background-position: 0 0;
}
/* line 32, ../scss/_header.scss */
.header .wrapper li .twitter {
  background: url(../img/sprite-1.png) -33px -27px no-repeat;
  width: 32px;
  height: 28px;
  display: block;
}
/* line 38, ../scss/_header.scss */
.header .wrapper li .twitter:hover {
  background-position: -33px 0px;
}

/* line 1, ../scss/_creation-process.scss */
section.creation-process {
  background: url(../img/bg-first-section.png);
  	/*.overlay {
  		background-color: #000;
  		height: 452px;
  		line-height: 372px;
  		opacity: 0.75;
  		position: absolute;
  		vertical-align: middle;
  		width: 100%;
  
  		h1 {
  			@include font-size(48);
  
  			color: #fff;
  			position: absolute;
  			text-align: center;
  			width: 100%;
  		}
  	}
  
  	&:hover .overlay {
  		opacity: 0;
  		visibility: hidden;
  		-webkit-transition: all 0.5s 0.1s;
  		//-webkit-animation: heightOut 0s 0.5s forwards;
  
  		h1 {
  			opacity: 0;
  			visibility: hidden;
  			-webkit-transition: all 0.5s 0.1s;
  		}
  	}
  
  	&:after {
  		box-shadow: 0 0 3px #000;
  		background: #000;
  		content: '';
  		height: 22px;
  		width: 100%;
  		z-index: 5;
  	}*/
}
/* line 46, ../scss/_creation-process.scss */
section.creation-process a.hex {
  transform: rotate(60deg);
  -webkit-transform: rotate(60deg);
  -ms-transform: rotate(60deg);
  -moz-transform: rotate(60deg);
  -o-transform: rotate(60deg);
  float: left;
  height: 190px;
  margin: 70px 30px;
  text-decoration: none;
  position: relative;
  width: 110px;
  z-index: 1;
  		/*&:before {
  			@include vendor-prefix(transform, rotate(60deg));
  
  			box-shadow: 0 0 3px #000;
  			content: '';
  			position: absolute;
  			height: inherit;
  			width: inherit;
  			z-index: 5;
  		}*/
}
/* line 69, ../scss/_creation-process.scss */
section.creation-process a.hex.bottom {
  margin-top: 170px;
}
/* line 73, ../scss/_creation-process.scss */
section.creation-process a.hex div {
  background-size: auto 135px;
  -webkit-background-size: auto 135px;
  -ms-background-size: auto 135px;
  -moz-background-size: auto 135px;
  -o-background-size: auto 135px;
  transform: rotate(-60deg);
  -webkit-transform: rotate(-60deg);
  -ms-transform: rotate(-60deg);
  -moz-transform: rotate(-60deg);
  -o-transform: rotate(-60deg);
  height: 190px;
  background-color: white;
  background-repeat: no-repeat;
  background-position: 50% 50%;
  background-image: none;
  text-align: center;
  border: none;
  color: #fff;
  -webkit-backface-visibility: hidden;
  -moz-backface-visibility: hidden;
  /*content: '';
  position: absolute;
  height: inherit;
  width: inherit;
  z-index: 6;*/
  			/*&.partner {
  				background-position: 50px;
  			}
  
  			&.design {
  				background-position: 50px;
  			}*/
  			/*&.developper {
  				background-position-y: 65px;
  
  				span {
  					background-position-y: 80px; 
  				}
  			}
  
  			&.strategy {
  				background-position: 75% 50%;
  			}
  
  			strong {
  				@include font-size(55);
  				@include font(arial);
  
  				color: #403e3e;
  				display: block;
  				padding: 115px 0 0 70px;
  				position: relative;
  			}*/
}
/* line 103, ../scss/_creation-process.scss */
section.creation-process a.hex div.calender {
  background-size: auto 85px;
  -webkit-background-size: auto 85px;
  -ms-background-size: auto 85px;
  -moz-background-size: auto 85px;
  -o-background-size: auto 85px;
  background-position: 55% 42%;
}
/* line 130, ../scss/_creation-process.scss */
section.creation-process a.hex div span {
  position: absolute;
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
  overflow: hidden;
  background: inherit;
  -webkit-backface-visibility: hidden;
  -moz-backface-visibility: hidden;
  text-align: center;
}
/* line 143, ../scss/_creation-process.scss */
section.creation-process a.hex div span:before {
  height: 220px;
  width: 220px;
  content: '';
  position: absolute;
  left: 0;
  background: inherit;
}
/* line 152, ../scss/_creation-process.scss */
section.creation-process a.hex div span.hex-1 {
  transform: rotate(60deg);
  -webkit-transform: rotate(60deg);
  -ms-transform: rotate(60deg);
  -moz-transform: rotate(60deg);
  -o-transform: rotate(60deg);
}
/* line 156, ../scss/_creation-process.scss */
section.creation-process a.hex div span.hex-1:before {
  transform: rotate(-60deg) translate(-165px, -15px);
  -webkit-transform: rotate(-60deg) translate(-165px, -15px);
  -ms-transform: rotate(-60deg) translate(-165px, -15px);
  -moz-transform: rotate(-60deg) translate(-165px, -15px);
  -o-transform: rotate(-60deg) translate(-165px, -15px);
  transform-origin: 0 0;
  -webkit-transform-origin: 0 0;
  -ms-transform-origin: 0 0;
  -moz-transform-origin: 0 0;
  -o-transform-origin: 0 0;
}
/* line 162, ../scss/_creation-process.scss */
section.creation-process a.hex div span.hex-2 {
  transform: rotate(-60deg);
  -webkit-transform: rotate(-60deg);
  -ms-transform: rotate(-60deg);
  -moz-transform: rotate(-60deg);
  -o-transform: rotate(-60deg);
}
/* line 166, ../scss/_creation-process.scss */
section.creation-process a.hex div span.hex-2:before {
  transform: rotate(60deg) translate(-15px, 55px);
  -webkit-transform: rotate(60deg) translate(-15px, 55px);
  -ms-transform: rotate(60deg) translate(-15px, 55px);
  -moz-transform: rotate(60deg) translate(-15px, 55px);
  -o-transform: rotate(60deg) translate(-15px, 55px);
  bottom: 0;
}

@-webkit-keyframes heightOut {
  /* line 177, ../scss/_creation-process.scss */
  from {
    height: 452px;
  }

  /* line 178, ../scss/_creation-process.scss */
  to {
    height: 0;
  }
}

@-webkit-keyframes textOut {
  /* line 182, ../scss/_creation-process.scss */
  from {
    top: 0;
  }

  /* line 183, ../scss/_creation-process.scss */
  to {
    top: -2000px;
  }
}

/* line 3, ../scss/_what-we-do.scss */
section.what-we-do .wrapper {
  max-width: 820px;
}
/* line 7, ../scss/_what-we-do.scss */
section.what-we-do h1 {
  font-size: 36px;
  font-size: 3.6rem;
  color: #494848;
  text-align: center;
}
/* line 14, ../scss/_what-we-do.scss */
section.what-we-do h2 {
  font-size: 22px;
  font-size: 2.2rem;
  color: #626262;
  margin: 50px 0 0;
}
/* line 21, ../scss/_what-we-do.scss */
section.what-we-do p {
  font-size: 15px;
  font-size: 1.5rem;
  color: #7a7a7a;
  margin-bottom: 50px;
}
/* line 28, ../scss/_what-we-do.scss */
section.what-we-do img.mobile {
  left: 50%;
  margin: -30px 0 0 -160px;
  position: absolute;
}
/* line 36, ../scss/_what-we-do.scss */
section.what-we-do div.mobile h2 {
  margin-top: 0;
}
/* line 40, ../scss/_what-we-do.scss */
section.what-we-do div.mobile.left, section.what-we-do div.mobile.right {
  width: 270px;
}
/* line 41, ../scss/_what-we-do.scss */
section.what-we-do div.mobile.left {
  float: left;
}
/* line 42, ../scss/_what-we-do.scss */
section.what-we-do div.mobile.right {
  float: right;
}
/* line 45, ../scss/_what-we-do.scss */
section.what-we-do img.comp {
  float: right;
  margin: 0 50px;
}
/* line 50, ../scss/_what-we-do.scss */
section.what-we-do img.both {
  float: left;
}

/* line 1, ../scss/_make-us-special.scss */
section.make-us-special {
  background-color: #f5f5f5;
}
/* line 4, ../scss/_make-us-special.scss */
section.make-us-special .wrapper {
  max-width: 888px;
}
/* line 8, ../scss/_make-us-special.scss */
section.make-us-special h1 {
  font-size: 30px;
  font-size: 3rem;
  background-color: #686767;
  height: 60px;
  line-height: 60px;
  color: #fff;
  margin: 0;
  text-align: center;
}
/* line 19, ../scss/_make-us-special.scss */
section.make-us-special ul {
  margin: 55px 0;
}
/* line 22, ../scss/_make-us-special.scss */
section.make-us-special ul li {
  background-color: #fff;
  border-top: 4px solid #6cbab3;
  display: inline-block;
  width: 33%;
}
/* line 28, ../scss/_make-us-special.scss */
section.make-us-special ul li:first-child {
  border-color: #fd6e40;
}
/* line 32, ../scss/_make-us-special.scss */
section.make-us-special ul li:last-child {
  border-color: #f4cd60;
}
/* line 36, ../scss/_make-us-special.scss */
section.make-us-special ul li h2 {
  font-size: 36px;
  font-size: 3.6rem;
  color: #626262;
  margin: 15px 0 0;
  text-align: center;
}
/* line 44, ../scss/_make-us-special.scss */
section.make-us-special ul li p {
  font-size: 14px;
  font-size: 1.4rem;
  color: #7a7a7a;
  margin: 30px 25px;
}
/* line 54, ../scss/_make-us-special.scss */
section.make-us-special:after {
  background-color: #dfdfdf;
  content: '';
  height: 10px;
  width: 100%;
}

/* line 3, ../scss/_our-work.scss */
section.our-work .wrapper {
  max-width: 920px;
}
/* line 7, ../scss/_our-work.scss */
section.our-work h1 {
  font-size: 36px;
  font-size: 3.6rem;
  color: #4a4949;
  text-align: center;
}
/* line 14, ../scss/_our-work.scss */
section.our-work button {
  font-size: 36px;
  font-size: 3.6rem;
  background-color: #e0e0e0;
  border: 2px solid #fff;
  box-shadow: 0 0 3px #000;
  height: 65px;
  width: 100%;
}

/* line 24, ../scss/global.scss */
body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, a,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  transition: all 0.5s;
  -webkit-transition: all 0.5s;
  -ms-transition: all 0.5s;
  -moz-transition: all 0.5s;
  -o-transition: all 0.5s;
}

/* line 28, ../scss/global.scss */
html {
  font-family: arial, "helvetica", "sans-serif";
}

/* line 32, ../scss/global.scss */
body {
  height: 100%;
}

/* line 36, ../scss/global.scss */
.wrapper {
  margin: 0 auto;
  max-width: 960px;
  position: relative;
  width: 100%;
}
