/* line 1, ../scss/global.scss */
html {
  font-size: 62.5%;
}

/* line 1, ../scss/_header.scss */
.header {
  -webkit-box-shadow: 0 1px 5px black ;
  -moz-box-shadow: 0 1px 5px black ;
  box-shadow: 0 1px 5px black ;
  background: url(../img/bg-header.png);
  height: 55px;
  position: relative;
}
/* line 8, ../scss/_header.scss */
.header .wrapper {
  text-align: center;
}
/* line 11, ../scss/_header.scss */
.header .wrapper img {
  margin-top: 10px;
}
/* line 15, ../scss/_header.scss */
.header .wrapper ul {
  float: right;
}
/* line 19, ../scss/_header.scss */
.header .wrapper li {
  display: inline-block;
}
/* line 22, ../scss/_header.scss */
.header .wrapper li .facebook {
  background: url(../img/sprite-1.png) 0 -27px no-repeat;
  width: 32px;
  height: 28px;
  display: block;
}
/* line 28, ../scss/_header.scss */
.header .wrapper li .facebook:hover {
  background-position: 0 0;
}
/* line 33, ../scss/_header.scss */
.header .wrapper li .twitter {
  background: url(../img/sprite-1.png) -33px -27px no-repeat;
  width: 32px;
  height: 28px;
  display: block;
}
/* line 39, ../scss/_header.scss */
.header .wrapper li .twitter:hover {
  background-position: -33px 0px;
}

/* line 1, ../scss/_creation-process.scss */
section.creation-process {
  background: url(../img/bg-first-section.png);
}
/* line 5, ../scss/_creation-process.scss */
section.creation-process:after {
  -webkit-box-shadow: 0 0 5px black ;
  -moz-box-shadow: 0 0 5px black ;
  box-shadow: 0 0 5px black ;
  -webkit-box-shadow: 0 0 5px rgba(0, 0, 0, 0.5) ;
  -moz-box-shadow: 0 0 5px rgba(0, 0, 0, 0.5) ;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.5) ;
  background: #000;
  content: '';
  height: 22px;
  width: 100%;
}
/* line 14, ../scss/_creation-process.scss */
section.creation-process a.hex {
  transform: rotate(60deg);
  -webkit-transform: rotate(60deg);
  -ms-transform: rotate(60deg);
  -moz-transform: rotate(60deg);
  -o-transform: rotate(60deg);
  -webkit-box-shadow: 0 0 5px black ;
  -moz-box-shadow: 0 0 5px black ;
  box-shadow: 0 0 5px black ;
  -webkit-box-shadow: 0 0 5px rgba(0, 0, 0, 0.5) ;
  -moz-box-shadow: 0 0 5px rgba(0, 0, 0, 0.5) ;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.5) ;
  float: left;
  height: 190px;
  margin: 70px 30px;
  text-decoration: none;
  position: relative;
  width: 110px;
}
/* line 25, ../scss/_creation-process.scss */
section.creation-process a.hex:before {
  transform: rotate(60deg);
  -webkit-transform: rotate(60deg);
  -ms-transform: rotate(60deg);
  -moz-transform: rotate(60deg);
  -o-transform: rotate(60deg);
  -webkit-box-shadow: 0 0 5px black ;
  -moz-box-shadow: 0 0 5px black ;
  box-shadow: 0 0 5px black ;
  -webkit-box-shadow: 0 0 5px rgba(0, 0, 0, 0.5) ;
  -moz-box-shadow: 0 0 5px rgba(0, 0, 0, 0.5) ;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.5) ;
  content: '';
  position: absolute;
  height: inherit;
  width: inherit;
}
/* line 34, ../scss/_creation-process.scss */
section.creation-process a.hex.bottom {
  margin-top: 170px;
}
/* line 38, ../scss/_creation-process.scss */
section.creation-process a.hex span {
  background-size: auto 130px;
  -webkit-background-size: auto 130px;
  -ms-background-size: auto 130px;
  -moz-background-size: auto 130px;
  -o-background-size: auto 130px;
  transform: rotate(-60deg);
  -webkit-transform: rotate(-60deg);
  -ms-transform: rotate(-60deg);
  -moz-transform: rotate(-60deg);
  -o-transform: rotate(-60deg);
  -webkit-box-shadow: 0 0 5px black ;
  -moz-box-shadow: 0 0 5px black ;
  box-shadow: 0 0 5px black ;
  -webkit-box-shadow: 0 0 5px rgba(0, 0, 0, 0.5) ;
  -moz-box-shadow: 0 0 5px rgba(0, 0, 0, 0.5) ;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.5) ;
  height: 190px;
  background-color: white;
  background-repeat: no-repeat;
  background-position: 50% 50%;
  background-image: none;
  text-align: center;
  display: block;
  border: none;
  color: #fff;
  -webkit-backface-visibility: hidden;
  -moz-backface-visibility: hidden;
  content: '';
  position: absolute;
  height: inherit;
  width: inherit;
}
/* line 60, ../scss/_creation-process.scss */
section.creation-process a.hex span.partner {
  background-position: 50px;
}
/* line 64, ../scss/_creation-process.scss */
section.creation-process a.hex span.design {
  background-position: 50px;
}
/* line 68, ../scss/_creation-process.scss */
section.creation-process a.hex span.calender {
  background-size: auto 85px;
  -webkit-background-size: auto 85px;
  -ms-background-size: auto 85px;
  -moz-background-size: auto 85px;
  -o-background-size: auto 85px;
  background-position: 55% 42%;
}
/* line 73, ../scss/_creation-process.scss */
section.creation-process a.hex span.developper {
  background-position-y: 65px;
}
/* line 76, ../scss/_creation-process.scss */
section.creation-process a.hex span.developper div {
  background-position-y: 80px;
}
/* line 81, ../scss/_creation-process.scss */
section.creation-process a.hex span.strategy {
  background-position: 75% 50%;
}
/* line 85, ../scss/_creation-process.scss */
section.creation-process a.hex span strong {
  font-size: 55px;
  font-size: 5.5rem;
  font-family: arial, "helvetica", "sans-serif";
  color: #403e3e;
  display: block;
  padding: 115px 0 0 70px;
  position: relative;
}
/* line 95, ../scss/_creation-process.scss */
section.creation-process a.hex span div {
  position: absolute;
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
  overflow: hidden;
  background: inherit;
  -webkit-backface-visibility: hidden;
  -moz-backface-visibility: hidden;
  text-align: center;
}
/* line 108, ../scss/_creation-process.scss */
section.creation-process a.hex span div:before {
  height: 220px;
  width: 220px;
  content: '';
  position: absolute;
  left: 0;
  background: inherit;
}
/* line 117, ../scss/_creation-process.scss */
section.creation-process a.hex span div.hex-1 {
  transform: rotate(60deg);
  -webkit-transform: rotate(60deg);
  -ms-transform: rotate(60deg);
  -moz-transform: rotate(60deg);
  -o-transform: rotate(60deg);
}
/* line 120, ../scss/_creation-process.scss */
section.creation-process a.hex span div.hex-1:before {
  transform: rotate(-60deg) translate(-165px, -15px);
  -webkit-transform: rotate(-60deg) translate(-165px, -15px);
  -ms-transform: rotate(-60deg) translate(-165px, -15px);
  -moz-transform: rotate(-60deg) translate(-165px, -15px);
  -o-transform: rotate(-60deg) translate(-165px, -15px);
  transform-origin: 0 0;
  -webkit-transform-origin: 0 0;
  -ms-transform-origin: 0 0;
  -moz-transform-origin: 0 0;
  -o-transform-origin: 0 0;
}
/* line 126, ../scss/_creation-process.scss */
section.creation-process a.hex span div.hex-2 {
  transform: rotate(-60deg);
  -webkit-transform: rotate(-60deg);
  -ms-transform: rotate(-60deg);
  -moz-transform: rotate(-60deg);
  -o-transform: rotate(-60deg);
}
/* line 129, ../scss/_creation-process.scss */
section.creation-process a.hex span div.hex-2:before {
  transform: rotate(60deg) translate(-15px, 55px);
  -webkit-transform: rotate(60deg) translate(-15px, 55px);
  -ms-transform: rotate(60deg) translate(-15px, 55px);
  -moz-transform: rotate(60deg) translate(-15px, 55px);
  -o-transform: rotate(60deg) translate(-15px, 55px);
  bottom: 0;
}

/* line 3, ../scss/_what-we-do.scss */
section.what-we-do h1 {
  font-size: 36px;
  font-size: 3.6rem;
  color: #494848;
}

/* line 22, ../scss/global.scss */
body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, a,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  transition: all 0.5s;
  -webkit-transition: all 0.5s;
  -ms-transition: all 0.5s;
  -moz-transition: all 0.5s;
  -o-transition: all 0.5s;
}

/* line 26, ../scss/global.scss */
body {
  background: #ccc;
  height: 100%;
}

/* line 31, ../scss/global.scss */
.wrapper {
  margin: 0 auto;
  max-width: 960px;
  width: 100%;
}
