section.creation-process {

	background: url(../img/bg-first-section.png);

	&:after {
		@include drop-shadow(0, 0, 5px, rgba(0, 0, 0, 0.5), #000);

		background: #000;
		content: '';
		height: 22px;
		width: 100%;
	}
	
	a.hex {
		@include vendor-prefix(transform, rotate(60deg));
		@include drop-shadow(0, 0, 5px, rgba(0, 0, 0, 0.5), #000);

		float: left;
		height: 190px;
		margin: 70px 30px;
		text-decoration: none;
		position: relative;
		width: 110px;

		&:before {
			@include vendor-prefix(transform, rotate(60deg));
			@include drop-shadow(0, 0, 5px, rgba(0, 0, 0, 0.5), #000);
			content: '';
			position: absolute;
			height: inherit;
			width: inherit;
		}

		&.bottom {
			margin-top: 170px;
		}
		
		span{
			@include vendor-prefix(background-size, auto 130px);
			@include vendor-prefix(transform, rotate(-60deg));
			@include drop-shadow(0, 0, 5px, rgba(0, 0, 0, 0.5), #000);

			height: 190px;
			background-color: white;
			background-repeat: no-repeat;
			background-position: 50% 50%;
			background-image: none;
			text-align: center;
			display: block;
			border: none;
			color: #fff;
			-webkit-backface-visibility: hidden;
			-moz-backface-visibility: hidden;

			content: '';
			position: absolute;
			height: inherit;
			width: inherit;

			&.partner {
				background-position: 50px;
			}

			&.design {
				background-position: 50px;
			}

			&.calender {
				@include vendor-prefix(background-size, auto 85px);
				 background-position: 55% 42%;
			}

			&.developper {
				background-position-y: 65px;

				div {
					background-position-y: 80px; 
				}
			}

			&.strategy {
				background-position: 75% 50%;
			}

			strong {
				@include font-size(55);
				@include font(arial);

				color: #403e3e;
				display: block;
				padding: 115px 0 0 70px;
				position: relative;
			}

			div {

				position: absolute;
				height: 100%;
				width: 100%;
				top: 0;
				left: 0;
				overflow: hidden;
				background: inherit;
				-webkit-backface-visibility: hidden;
				-moz-backface-visibility: hidden;
				text-align: center;

				&:before {
					height: 220px;
					width: 220px;
					content: '';
					position: absolute;
					left: 0;
					background: inherit;
				}
				
				&.hex-1 {
					@include vendor-prefix(transform, rotate(60deg));

					&:before {
						@include vendor-prefix(transform, rotate(-60deg) translate(-165px, -15px));
						@include vendor-prefix(transform-origin, 0 0);
					}
				}

				&.hex-2 {
					@include vendor-prefix(transform, rotate(-60deg));

					&:before {
						@include vendor-prefix(transform, rotate(60deg) translate(-15px, 55px));
						bottom: 0;

					}
				}
			}
		}
	}
}