section.creation-process {

	a.hex {
		float: left;
		margin: 100px 30px;
		text-decoration: none;
		position: relative;
		width: 110px;

		&.bottom {
			margin-top: 200px;
		}
		
		span{
			height: 190px;
			background-color: whitesmoke;
			background-repeat: no-repeat;
			background-position: 50% 50%;
			text-align: center;
			display: block;
			border: none;
			color: #fff;
			-webkit-backface-visibility: hidden;
			-webkit-background-size: auto 220px;
			-moz-background-size: auto 220px;
			-o-background-size: auto 220px;
			background-size: auto 220px;

			strong {
				display: block;
				font-size: 80px;
				padding-top: 90px;
				position: relative;
			}

			div {
				position: absolute;
				height: 100%;
				width: 100%;
				top: 0;
				left: 0;
				overflow: hidden;
				background: inherit;
				-webkit-backface-visibility: hidden;
				-webkit-background-size: auto 220px;
				-moz-background-size: auto 220px;
				-o-background-size: auto 220px;
				background-size: auto 220px;
				text-align: center;

				&:before {
					height: 220px;
					width: 220px;
					content: '';
					position: absolute;
					left: 0;
					background: inherit;
				}
				
				&.hex-1 {
					-webkit-transform: rotate(60deg);
					-moz-transform: rotate(60deg);
					-o-transform: rotate(60deg);
					transform: rotate(60deg);

					&:before {
						-webkit-transform: rotate(-60deg) translate(-165px, -15px);
						-moz-transform: rotate(-60deg) translate(-110px, 0);
						-ms-transform: rotate(-60deg) translate(-110px, 0);
						-o-transform: rotate(-60deg) translate(-110px, 0);
						transform: rotate(-60deg) translate(-110px, 0);
						-webkit-transform-origin: 0 0;
						-moz-transform-origin: 0 0;
						-ms-transform-origin: 0 0;
						-o-transform-origin: 0 0;
						transform-origin: 0 0;
					}
				}

				&.hex-2 {
					-webkit-transform: rotate(-60deg);
					-moz-transform: rotate(-60deg);
					-o-transform: rotate(-60deg);
					transform: rotate(-60deg);

					&:before {
						-webkit-transform: rotate(60deg) translate(-15px, 55px);
						-moz-transform: rotate(60deg) translate(40px, 40px);
						-ms-transform: rotate(60deg) translate(40px, 40px);
						-o-transform: rotate(60deg) translate(40px, 40px);
						transform: rotate(60deg) translate(40px, 40px);
						bottom: 0;

					}
				}
			}
		}
	}
}