section.what-we-do {

	.wrapper {
		max-width: 820px;
	}
    
    h1 {
        @include font-size(36);

        color: #494848;
        text-align: center;
    }

    h2 {
    	@include font-size(22);

    	color: #626262;
    	margin: 50px 0 0;
    }

    p {
    	@include font-size(15);

    	color: #7a7a7a;
    	margin-bottom: 50px;
    }

    img.mobile {
    	left: 50%;
    	margin: -30px 0 0 -160px;
    	position: absolute;
    }

    div.mobile {

    	h2 {
    		margin-top: 0;
    	}

    	&.left, &.right { width: 270px; }
		&.left { float: left; }
		&.right { float: right; }
	}

    img.comp {
    	float: right;
    	margin: 0 50px;
    }

    img.both {
    	float: left;
    }

    
}